{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form class="form-signin" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="{{ asset("images/icone_anonymous.png") }}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        </div>

        <div class="form-label-group">
            <input type="pseudo" id="inputPseudo" name="_username" class="form-control" placeholder="Nickname" required="" autofocus="" value="{{ last_username }}">
            <label for="inputPseudo">Pseudo</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required="">
            <label for="inputPassword">Mot de passe</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" checked> Se souvenir de moi
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
        <p class="mt-5 mb-3 text-muted text-center">© 2018</p>
    </form>
{% endblock %}